.page {
  background-color: rgb(217, 224, 212);
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  font-weight: bold;
}
