*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
hr {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

p {
  margin-inline-start: 20px;
  color: black;
}

.link {
  text-decoration: none;
}
